
<div class="container bg-info">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="" class="control-label">Mile</label>
        <input type="text" class="form-control" (input)="onChangeMile($any($event.target).value)">
      </div>
    </div>
    <div class="col">
      <label for="">KM</label> <br />
      {{mileInput | convert : 'km' | number : '1.0-3' }}
    </div>
    <div class="col">
      <label for="">M</label> <br />
      {{mileInput | convert : 'm' | number : '1.0-3' }}
    </div>
    <div class="col">
      <label for="">CM</label> <br />
      {{mileInput | convert : 'cm' | number : '1.0-3' }}
    </div>
    <div class="col">
      <label for="">MM</label> <br />
      {{mileInput | convert : 'mm' | number : '1.0-3'  }}
    </div>
  </div>
</div>

<router-outlet></router-outlet>
